<!--RECEPTEN-->
<div class="max-w-5xl mx-auto relative mt-3">
    {{ svg src="/assets/site/scratches" class="absolute text-gray-800 mt-8 top-0 left-0 w-20 hidden md:block" }}
    <article class="pt-16 max-w-2xl mx-auto ">
        <h1 class="mb-0">{{ title }}</h1>
        <p class="font-medium text-teal mb-16">Jouw go-to bron voor inspirerende en smakelijke gerechten.</p>
        {{ collection:articles as="articles" paginate="10" }}
        {{ if no_results }}
        <h2 class="text-3xl italic tracking-tight">Geen recepten gevonden!</h2>
        {{ /if }}
        {{ articles }}
        <div class="mb-2 block items-center mb-16">
            {{ image }}
            <img
                    src={{
                    url
                    }}
                    style="height: 100px; width:100px;"
                    class="w-full h-32 sm:h-48 object-cover mx-auto rounded-t"
            >
            {{ /image }}
            <a href="{{ url }}" class="text-lg hover:text-teal tracking-tight leading-tight font-bold">
                {{ title | widont }}
            </a>
            <p class="text-gray-600">{{ excerpt | widont ?? content | strip_tags | safe_truncate(150, '...') }}</p>
            <p class="mt-1">{{ cooking_time }}</p>
        </div>
        {{ /articles }}
        {{ paginate }}
        {{ if prev_page || next_page }}
        <div class="flex justify-between text-xl -mx-16 pt-16 font-bold">
            <a href="{{ prev_page }}" class="{{ ! prev_page ?= 'opacity-25' }}">
                &larr; Back to the future
            </a>
            <a href="{{ next_page }}">
                Forward to the past &rarr;
            </a>
        </div>
        {{ /if }}
        {{ /paginate }}
        {{ /collection:articles }}
    </article>
</div>
